<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <!--Эти три строки называются Пермишены Permisson, они указываются на уровне тега manifest
        и разрешают приложению ходить в сеть и обращаться к камере,
        на самом деле они тут не нужны т.к. приложение в сеть не ходит и ничего не снимает,
        я их оставил что бы вы понимали как открытие доступа выглядит   -->
    <uses-permission android:name="android.permission.INTERNET" />
    <!-- вообще для Интернета достаточно Internet
         ACCESS_NETWORK_STATE позволяет приложениям получать доступ к информации о сетях-->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <!-- а этот разрешает использовать камеру-->
    <uses-permission android:name="android.permission.CAMERA" />


    <!-- Манифест - это паспорт нашего приложения, его лицо.
         Благодаря манифесту ОС Андроид знает о существовании нашего приложения,
         а также о том какие основные компоненты в нем есть,
         и на какие события эти компоненты могут реагировать
         (события (action) - это к примеру попытка открыть фото - система покажет
         пользователю какие приложения умеют это делать и предложит выбрать из них,
         это может быть попытка сделать звонок, отправить e-mail, сделать фото)

        Я убрал все второстепенное отсюда, это минимальный набор тега application
        android:label - имя нашего приложения в системе, без него можно запустить приложение
        android:theme - тема приложения, без указания темы приложение не запустится-->
    <uses-feature
        android:name="android.hardware.camera"
        android:required="false" />
    <application
        android:label="@string/app_name_from_res_values"
        android:theme="@style/Theme.Study">

        <!--следующий тег activity описывает основной компонент этого приложения - Активити
        и лежит внутри апликейшн как и прочие компоненты андроид-->
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:screenOrientation="portrait">
            <!-- screenOrientation="portrait" это портретный режим для этой активити,
            он запрещает поворачивать экран когда мы находимся на ней, зачем это делать?
            затем что при перевороте экрана меняется конфигурация и активити умирает и возрождается
            как Феникс и что бы данные не пропали надо подумать об их сохранении, например в ViewModel-->
            <intent-filter>
                <!-- Основных компонентов в приложении может быть много,
                а пропись action.MAIN и category.LAUNCHER говорит что с этого компонента
                будет запущено наше приложение при нажатии пользователем на иконку.-->
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

    </application>

</manifest>